# Auxiliares de LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.run.xml
*-blx.bib

# Temporales de ofimática
~$*
.~lock.*

# Sistema
Thumbs.db
Desktop.ini
.DS_Store
